<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Bienvenida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-button shape="round" [routerLink]="['/login']">Login usuario
      </ion-button>
      <ion-button shape="round" [routerLink]="['/loginconductor']">Login conductor
      </ion-button>
    </ion-buttons>
  </ion-toolbar>


  <ion-card>
    <img src="assets/Tellevo.png" class="ion-padding">
  </ion-card>
</ion-content>

<ion-footer>

</ion-footer>
