ion-slides {
    height: 100%;
  }
  
  .bg-1 {
    // background-color: #00acc1;
    background-image: url('../../../assets/carr1.png');
    background-size: cover;
  }
  .bg-2 {
    // background-color: #fbc02d;
    background-image: url('../../../assets/carr2.png');
    background-size: cover;
  }
  .bg-3 {
    // background-color: #7cb342;
    background-image: url('../../../assets/carr3.png');
    background-size: cover;
  }




































/*
ion-content{
    --ion-background-color:#111D12;


}*/
