<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        color="secondary"
        mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title color="secondary">
      Registro de viajes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-list color="primary" #myList >
    <ion-list-header color="primary">
      <ion-label color="secondary">Mis viajes</ion-label>
    </ion-list-header>

    <ion-list>
      <ion-item-sliding *ngFor="let dato of datos">
        <ion-item color="primary">
          <ion-label text-wrap> 
            <h3 >{{dato.nomUsuario}}</h3>
            <ion-text color="secondary">
              <p>{{dato.email}}</p>
              <p>{{dato.edadUsuario}}</p>
              <p>{{dato.destinoU}}</p>
              <p>{{dato.asientosLibres}}</p>
              <ion-button (click) ="Mensaje()" color="secondary" [routerLink]="['/map']" >RESERVA</ion-button>
            </ion-text>
            <p>{{dato.modified | date: 'short'}}</p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-list>
</ion-content>

