<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
    <ion-back-button defaultHref="/" ></ion-back-button>
    </ion-buttons>
    <ion-title >Formulario de registro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <ion-list class = 'lista'>
    <ion-list-header>
      <ion-label color = 'secondary'>Ingrese sus datos</ion-label>
    </ion-list-header>

    <ion-item color="tertiary">
      <ion-label>Nombre: </ion-label>
      <ion-input type="text" placeholder="Digite un número" [(ngModel)]="nombre">
      </ion-input>
    </ion-item>
  </ion-list>

  <form #formulario="ngForm" (ngSubmit)="onSubmit()">
    <ion-list-header>
      <ion-label color = 'secondary'>Formulario Válido: {{formulario.valid}} </ion-label>
      </ion-list-header>
      
      <ion-item color="tertiary"> 
        <ion-label> Email: </ion-label>
        <ion-input type="email" placeholder="Email"
                   name="email" [(ngModel)]="usuario.email"
                   pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                   required>
        </ion-input>
      </ion-item>
      <ion-item color="tertiary">
        <ion-label>Password: </ion-label>
        <ion-input type="password" placeholder="Contraseña"
                   name="password" [(ngModel)]="usuario.password"
                   required>
        </ion-input>
      </ion-item>

      <ion-button [disabled]="formulario-invalid"
              type="submit" expand="block">
      Enviar
    </ion-button>
  </form>

</ion-content>
<ion-footer>
  <ion-toolbar (click)="_moveDashboard()" color="primary">
    <ion-title class="ion-text-center">Footer</ion-title>
  </ion-toolbar>
</ion-footer>
