<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        color="secondary "
        mode="ios"></ion-back-button>
    </ion-buttons>

    <ion-title>Vehiculos disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <p class="titulo">
    Selecione automóvil disponible
  </p>


    <ion-item color="tertiary">
      <ion-label>Automóvil 1    Destino: Maipu     </ion-label>

    </ion-item>

    <ion-item color="tertiary">
      <ion-label>Automóvil  2:    Destino: Santiago      </ion-label>
      
    </ion-item>

    <ion-item color="tertiary">
      <ion-label>Automóvil  3:    Destino: Quilicura       </ion-label>
      
    </ion-item>

    <ion-item color="tertiary">
      <ion-label>Automóvil  4:    Destino: Ñuñoa     </ion-label>
      
    </ion-item>

    <ion-item color="tertiary">
      <ion-label>Automóvil  5:    Destino: La cisterna      </ion-label>
      
    </ion-item>

  


    <ion-card color = 'light'>
  <p class="titulo" color="primary">
    Vehiculo selecionado
  </p>

  <p class="texto">
    Nombre: Felix Rivera
  </p>
  <p class="texto">
    Tarifa: 500
  </p>
    <p class="texto">
    Destino: Maipu
  </p>
    <p class="texto" color="light">
    Patente: khzx94
  </p>
    <p class="texto" color="light">
    Modelo de vehiculo: toyota
  </p>
    <p class="texto">
    Asientos disponibles: 4
  </p>



  <p class="boton">
    <ion-button>RESERVA</ion-button>
  </p>
    </ion-card>

</ion-content>
